.env
*.env

/spotify_api_env
*/spotify_api_env
.spotify_api_env
spotify_api_env

## log files
*.log
*.log.*
*/*.log

## __pycache__ files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd.*
__pycache__
*/__pycache__
*/__pycache__/*